# Front
packages/front/dist
packages/front/.solid
packages/front/.output
packages/front/.vercel
packages/front/.netlify
packages/front/netlify
packages/front/.vinxi
.vinxi

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
