# Front
packages/front/dist
packages/front/.solid
packages/front/.output
packages/front/.vercel
packages/front/.netlify
packages/front/netlify
packages/front/.vinxi
packages/front/node_modules

# Back
packages/back/dist
packages/back/node_modules

# Common
packages/common/node_modules

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
