services:
  api:
    build: .
    container_name: api
    restart: always
    image: ekeynox:latest
    ports:
      - ${PORT}:${PORT}
    depends_on:
      - db
    working_dir: /prod/back
    volumes:
      - ./packages/back/src:/prod/back/src
      - ./packages/back/prisma:/prod/back/prisma
    stdin_open: true
    tty: true

  db:
    container_name: postgres
    image: postgres:15-alpine
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}

  db_test:
    container_name: test_postgres
    image: postgres:15-alpine
    ports:
      - "${TEST_DB_HOST_PORT}:${DB_PORT}"
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${TEST_DB_NAME}

volumes:
  data:
