[data-corvu-drawer-trigger] {
  cursor: pointer !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  animation-duration: 100ms;
}

[data-corvu-drawer-overlay] {
  position: fixed;
  top: 0;
  inset: 0px;
  z-index: 49;
}

[data-corvu-drawer-overlay][data-transitioning] {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  transition-duration: 500ms;
}

[data-corvu-drawer-content] {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 32px;
  padding-right: 14px;
  z-index: 50;
  display: flex;
  height: 100%;
  max-height: 100%;
  min-width: 280px;
  flex-direction: column;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-left-width: 4px;
  border-color: var(--background-color);
  background-color: var(--color-surface-mixed-200);
  padding-top: 0.75rem;
  -webkit-user-select: none;
  user-select: none;
}

[data-corvu-drawer-content]::after {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100%;
  background-color: inherit;
  content: "";
}

[data-corvu-drawer-content][data-transitioning] {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  transition-duration: 500ms;
}

.notch {
  height: 0.25rem;
  width: 2.5rem;
  align-self: center;
  border-radius: 9999px;
  background-color: hsl(258, 79%, 74%);
}

[data-corvu-drawer-label] {
  margin-top: 0.5rem;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

[data-corvu-drawer-description] {
  margin-top: 0.25rem;
  text-align: center;
}
