@font-face {
  font-family: Larsseit;
  src: url("../fonts/Larsseit/Larsseit.otf");
  }

@font-face {
  font-family: Larsseit;
  src: url("../fonts/Larsseit/Larsseit-Bold.otf");
  font-weight: bold;
  }

@font-face {
  font-family: Larsseit;
  src: url("../fonts/Larsseit/Larsseit-Light.otf");
  font-weight: 200;
  }

@font-face {
  font-family: Larsseit;
  src: url("../fonts/Larsseit/Larsseit-Thin.otf");
  font-weight: 100;
  }
