.toggle {
  position: relative;
}
:root {
  font-family: Larsseit, system-ui, sans-serif;
  --background-color: #e0e0e0;
  --text-color: rgb(0, 31, 63);
  --text-secondary-color: grey;

  --correct-color: green;
  --correct-bg-color: lightgreen;
  --incorrect-color: red;
  --incorrect-bg-color: lightcoral;
  --corrected-color: orange;
  --corrected-bg-color: lightyellow;
  --focus-color: blue;
  --focus-bg-color: lightblue;

  --test-red: #fe9c9b;
  --test-orange: #fed79c;
  --test-green: #61d4bc;

  --test-light-red: #efafaf;
  --test-light-orange: #f9e2c2;
  --test-light-green: #90dfcc;

  --key-color: #bebebe;
  --key-color-alt: #ffffff;

  --key-correct-bg-color: #8ff0a4;
  --key-correct-color: #7acc8b;
  --key-correct-color-alt: #a4ffbd;

  --key-incorrect-bg-color: #f66151;
  --key-incorrect-color: #d15245;
  --key-incorrect-color-alt: #ff705d;

  --key-corrected-bg-color: #ffbe6f;
  --key-corrected-color: #d9a25e;
  --key-corrected-color-alt: #ffdb80;

  --key-focus-bg-color: #99c1f1;
  --key-focus-color: #82a4cd;
  --key-focus-color-alt: #b0deff;
}
.dark {
  --background-color: #2a2d2f;
  --text-color: #f6f5f7;
  --text-secondary-color: grey;

  --correct-color: green;
  --correct-bg-color: lightgreen;
  --incorrect-color: red;
  --incorrect-bg-color: lightcoral;
  --corrected-color: orange;
  --corrected-bg-color: lightyellow;
  --focus-color: blue;
  --focus-bg-color: lightblue;

  --key-color: #242628;
  --key-color-alt: #303436;

  --key-correct-bg-color: #126033;
  --key-correct-color: #0f522b;
  --key-correct-color-alt: #156e3b;

  --key-incorrect-bg-color: #81180d;
  --key-incorrect-color: #6e140b;
  --key-incorrect-color-alt: #941c0f;

  --key-corrected-bg-color: #744307;
  --key-corrected-color: #633906;
  --key-corrected-color-alt: #854d08;

  --key-focus-bg-color: #12345c;
  --key-focus-color: #0f2c4e;
  --key-focus-color-alt: #153c6a;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.app {
  display: grid;
  margin: 0;
  min-height: 100%;
  background-color: var(--background-color);
}
main {
  position: relative;
  margin: 96px 198px 0;
}
a {
  color: #000;
  text-decoration: none;
  a:hover {
    text-decoration: underline;
  }
}

button {
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  font-size: 13px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 6px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

button:hover {
  box-shadow: rgb(201, 46, 70) 0px 4px 0px 0px;
}

button:active {
  background-color: rgb(255, 56, 86);
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

textarea {
  font-family: Larsseit, system-ui, sans-serif;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 0;

  font-size: 13px;
  transition: all 0.06s ease;
  background-color: var(--key-color);
  cursor: pointer;
  color: var(--text-color);
}

textarea:focus {
  outline: none !important;
  border: 2px solid var(--focus-bg-color);
}

.radio-group {
  padding: 4px;
  border-radius: 10px;
  background-color: var(--key-color);
  position: relative;
  display: flex;
  border: 1px solid var(--key-color);
  transition: all 100ms linear;
}

.radio-group:hover {
  border-color: var(--focus-bg-color);
}

.radio-group input {
  display: none;
}

.radio-group input + label {
  display: inline-block;
  width: auto;
  height: 15px;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 8px;
  background: var(--key-color);
  color: var(--text-color);
  font-size: 14px;
  transition: all 100ms linear;
}

.radio-group input:checked + label {
  background-color: var(--key-focus-bg-color);
  animation: rubberBand 0.6s both;
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
h1,
h2,
h3,
a,
p,
span {
  color: var(--text-color);
}
