.toggle {
  position: relative;
}
:root {
  font-family: Larsseit, system-ui, sans-serif;
  --background-color: #e0e0e0;
  --text-color: rgb(0, 31, 63);
  --text-secondary-color: grey;

  --color-primary-100: #e7af5c;
  --color-primary-200: #ebb86e;
  --color-primary-300: #efc080;
  --color-primary-400: #f2c992;
  --color-primary-500: #f6d2a4;
  --color-primary-600: #f8dbb6;

  --shadow-color: #a28840;
  --button-text-color: #2d2e3b;

  --color-surface-100: #e7eef4;
  --color-surface-200: #eaf0f5;
  --color-surface-300: #ecf2f6;
  --color-surface-400: #eff4f8;
  --color-surface-500: #f2f6f9;
  --color-surface-600: #f4f7fa;

  --color-surface-alt: #e7e9e5;
  --color-surface-mixed-100: #e9e8e5;
  --color-surface-mixed-200: #ebebe8;
  --color-surface-mixed-300: #eeedeb;
  --color-surface-mixed-400: #f0f0ee;
  --color-surface-mixed-500: #f3f2f0;
  --color-surface-mixed-600: #f5f5f3;

  --correct-color: #485530;
  --correct-bg-color: #b5dd9d;
  --incorrect-color: #4e2927;
  --incorrect-bg-color: #e47e70;
  --corrected-color: #514b27;
  --corrected-bg-color: #efcd6c;
  --focus-color: #31494a;
  --focus-bg-color: #8fc8d9;

  --test-red: #fe9c9b;
  --test-orange: #fed79c;
  --test-green: #61d4bc;

  --test-light-red: #efafaf;
  --test-light-orange: #f9e2c2;
  --test-light-green: #90dfcc;

  --key-bg-color: #e0e0e0;
  --key-color: #bebebe;
  --key-color-alt: #ffffff;

  --key-correct-bg-color: #b5dd9d;
  --key-correct-color: #9abc85;
  --key-correct-color-alt: #d0feb5;

  --key-incorrect-bg-color: #e47e70;
  --key-incorrect-color: #c26b5f;
  --key-incorrect-color-alt: #ff9181;

  --key-corrected-bg-color: #efcd6c;
  --key-corrected-color: #cbae5c;
  --key-corrected-color-alt: #ffec7c;

  --key-focus-bg-color: #8fc8d9;
  --key-focus-color: #82a4cd;
  --key-focus-color-alt: #a4e6fa;
}
.dark {
  --background-color: #1f2233;

  --color-primary-100: #e7af5c;
  --color-primary-200: #ebb86e;
  --color-primary-300: #efc080;
  --color-primary-400: #f2c992;
  --color-primary-500: #f6d2a4;
  --color-primary-600: #f8dbb6;

  --color-surface-100: #181927;
  --color-surface-200: #2d2e3b;
  --color-surface-300: #444451;
  --color-surface-400: #5c5c68;
  --color-surface-500: #75757f;
  --color-surface-600: #8f8f97;

  --color-surface-alt: #1f2233;

  --color-surface-mixed-100: #654f3e;
  --color-surface-mixed-200: #756151;
  --color-surface-mixed-300: #867365;
  --color-surface-mixed-400: #978679;
  --color-surface-mixed-500: #a7998e;
  --color-surface-mixed-600: #b9aca4;

  --text-color: #f6f5f7;
  --text-secondary-color: grey;

  --correct-color: #61f4b2;
  --correct-bg-color: #124f48;
  --incorrect-color: #c0442b;
  --incorrect-bg-color: #571817;

  --corrected-color: #c99406;
  --corrected-bg-color: #494c3c;
  --focus-color: #50a6fc;
  --focus-bg-color: #043449;

  --key-bg-color: linear-gradient(145deg, #27293e, #202234);
  --key-color: #1f2233;
  --key-color-alt: #292e45;

  --key-correct-bg-color: linear-gradient(145deg, #107b65, #0e6855);
  --key-correct-color: #0d6250;
  --key-correct-color-alt: #11846c;

  --key-incorrect-bg-color: linear-gradient(145deg, #a83f3f, #8d3535);
  --key-incorrect-color: #853232;
  --key-incorrect-color-alt: #b54444;

  --key-corrected-bg-color: linear-gradient(145deg, #b16f4c, #955e40);
  --key-corrected-color: #8c583c;
  --key-corrected-color-alt: #be7852;

  --key-focus-bg-color: linear-gradient(145deg, #2b5e7a, #244f67);
  --key-focus-color: #224b61;
  --key-focus-color-alt: #2e6583;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.app {
  display: grid;
  margin: 0;
  min-height: 100%;
  background-color: var(--color-surface-100);
}
main {
  margin-top: 96px;
  display: grid;
  grid-template-columns:
    1fr
    min(1400px, 100%)
    1fr;
}

main > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
a {
  color: var(--text-color);
  text-decoration: none;
  a:hover {
    text-decoration: underline;
  }
}

button {
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  background-color: var(--color-primary-200);
  font-size: 14px;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--shadow-color) 0px 6px 0px 0px;
  color: var(--button-text-color);
  cursor: pointer;
}

button:hover {
  box-shadow: var(--shadow-color) 0px 4px 0px 0px;
}

button:active {
  box-shadow: var(--shadow-color) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

textarea {
  font-family: Larsseit, system-ui, sans-serif;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 0;

  font-size: 13px;
  transition: all 0.06s ease;
  background-color: var(--color-surface-200);
  cursor: pointer;
  color: var(--text-color);
}

textarea:focus {
  outline: none !important;
  border: 2px solid var(--focus-bg-color);
}

h1,
h2,
h3,
a,
p,
span {
  color: var(--text-color);
}
