.toggle {
  position: relative;
}
:root {
  font-family: Larsseit, system-ui, sans-serif;
  --background-color: #e0e0e0;
  --text-color: rgb(0, 31, 63);
  --text-secondary-color: grey;

  --correct-color: #485530;
  --correct-bg-color: #b5dd9d;
  --incorrect-color: #4e2927;
  --incorrect-bg-color: #e47e70;
  --corrected-color: #514b27;
  --corrected-bg-color: #efcd6c;
  --focus-color: #31494a;
  --focus-bg-color: #8fc8d9;

  --test-red: #fe9c9b;
  --test-orange: #fed79c;
  --test-green: #61d4bc;

  --test-light-red: #efafaf;
  --test-light-orange: #f9e2c2;
  --test-light-green: #90dfcc;

  --key-bg-color: #e0e0e0;
  --key-color: #bebebe;
  --key-color-alt: #ffffff;

  --key-correct-bg-color: #b5dd9d;
  --key-correct-color: #9abc85;
  --key-correct-color-alt: #d0feb5;

  --key-incorrect-bg-color: #e47e70;
  --key-incorrect-color: #c26b5f;
  --key-incorrect-color-alt: #ff9181;

  --key-corrected-bg-color: #efcd6c;
  --key-corrected-color: #cbae5c;
  --key-corrected-color-alt: #ffec7c;

  --key-focus-bg-color: #8fc8d9;
  --key-focus-color: #82a4cd;
  --key-focus-color-alt: #a4e6fa;
}
.dark {
  --background-color: #181927;
  --text-color: #f6f5f7;
  --text-secondary-color: grey;

  --correct-color: #61f4b2;
  --correct-bg-color: #124f48;
  --incorrect-color: #c0442b;
  --incorrect-bg-color: #571817;

  --corrected-color: #c99406;
  --corrected-bg-color: #494c3c;
  --focus-color: #50a6fc;
  --focus-bg-color: #043449;

  --key-bg-color: linear-gradient(145deg, #27293e, #202234);
  --key-color: #1f2233;
  --key-color-alt: #292e45;

  --key-correct-bg-color: linear-gradient(145deg, #107b65, #0e6855);
  --key-correct-color: #0d6250;
  --key-correct-color-alt: #11846c;

  --key-incorrect-bg-color: linear-gradient(145deg, #a43d2c, #8a3325);
  --key-incorrect-color: #823023;
  --key-incorrect-color-alt: #b0422f;

  --key-corrected-bg-color: linear-gradient(145deg, #ab720c, #90600a);
  --key-corrected-color: #885b09;
  --key-corrected-color-alt: #b87b0d;

  --key-focus-bg-color: linear-gradient(145deg, #2b5e7a, #244f67);
  --key-focus-color: #224b61;
  --key-focus-color-alt: #2e6583;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.app {
  display: grid;
  margin: 0;
  min-height: 100%;
  background-color: var(--background-color);
}
main {
  position: relative;
  margin: 96px 198px 0;
}
a {
  color: #000;
  text-decoration: none;
  a:hover {
    text-decoration: underline;
  }
}

button {
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  font-size: 13px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 6px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

button:hover {
  box-shadow: rgb(201, 46, 70) 0px 4px 0px 0px;
}

button:active {
  background-color: rgb(255, 56, 86);
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

textarea {
  font-family: Larsseit, system-ui, sans-serif;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 0;

  font-size: 13px;
  transition: all 0.06s ease;
  background-color: var(--key-color);
  cursor: pointer;
  color: var(--text-color);
}

textarea:focus {
  outline: none !important;
  border: 2px solid var(--focus-bg-color);
}

h1,
h2,
h3,
a,
p,
span {
  color: var(--text-color);
}
