---
import Layout from "../layouts/Layout.astro";
import CustomGame from "../components/CustomGame";

const { title } = Astro.params;
---

<Layout title={"eKeyNox"}>
  <main>
    <CustomGame client:only="solid" />
  </main>
</Layout>

<style></style>
