---
import Layout from "../layouts/Layout.astro";

const {title} = Astro.params;
const {content} = Astro.props;
---

<Layout title={title || "EkeyNox"}>
  <main>
    <h1>eKeyNox</h1>
    <p>Learn touch typing the fun way !</p>

    <a href="typing/">Get Started</a>
  </main>
</Layout>

<style></style>
