---
import Layout from "../layouts/Layout.astro";
import Keyboard from "../components/TypingGame";
import { games } from "../games.json";

type ParamsProps = {
  params: { title: string };
};
const gameList = games.map(({ params }) => {
  return { title: params.title, url: `/typing/${params.title}` };
});

// https://github.com/aminya/astro-parcel
// checker terser
// https://github.com/adamgian/minify-selectors
// https://straffesites.com/en/blog/optimize-astro-html-post-build
---

<style>
  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    padding: 10px;
    height: 40px;
    border-radius: 14px;
    background: var(--background-color);
    box-shadow:
      2px 2px 7px var(--neu-color),
      -2px -2px 7px var(--neu-color-alt);
  }
  li {
    list-style: none;
  }
</style>
<Layout title="eKeyNox">
  <main transition:animate="slide">
    <a href="/custom">Custom</a>
    <h2>Test</h2>
    <ul class="menu">
      {
        gameList.map(({ url, title }: { url: string; title: string }) => (
          <li>
            <a href={url}>{title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style></style>
