.toggle {
  position: relative;
}
:root {
  --text-color-black: rgb(0, 31, 63);
  --text-color-reverse: #f6f5f7;
  font-family: Larsseit, system-ui, sans-serif;
  --logo-color: #343450;
  --background-color: #e0e0e0;
  --stat-background-color: white;
  --text-color: rgb(0, 31, 63);
  --text-secondary-color: #654f3e;
  --progress-bar-background: #867365;

  --color-primary-100: #e7af5c;
  --color-primary-200: #ebb86e;
  --color-primary-300: #efc080;
  --color-primary-400: #f2c992;
  --color-primary-500: #f6d2a4;
  --color-primary-600: #f8dbb6;

  --color-selected: rgb(0, 31, 63);
  --ui-primary-color: #654f3e;
  --ui-secondary-color: grey;

  --border-color: #dfdfdb;
  --shadow-color: #a28840;
  --button-text-color: #2d2e3b;

  --color-surface-100: #e7eef4;
  --color-surface-200: #e7eef4;
  --color-background-metric-preview: #e7eef4;
  /* 
  --color-surface-200: #eaf0f5;
*/
  --color-surface-300: #ecf2f6;
  --color-surface-400: #eff4f8;
  --color-surface-500: #f2f6f9;
  --color-surface-600: #f4f7fa;

  /*
  --color-surface-alt: #e0bb7b;
*/
  --color-surface-alt: #e1c89b;
  --color-surface-mixed-100: #e9e8e5;
  --color-surface-mixed-200: #ebebe8;
  --color-surface-mixed-300: #eeedeb;
  --color-surface-mixed-400: #f0f0ee;
  --color-surface-mixed-500: #f3f2f0;
  --color-surface-mixed-600: #f5f5f3;

  --background-radiogroup: #ebebe8;
  --background-radiogroup-compact: #ebebe8;
  --background-textarea: #e0e0e0;
  --correct-color: #485530;
  --correct-bg-color: #b5dd9d;
  --incorrect-color: #4e2927;
  --incorrect-bg-color: #e47e70;
  --corrected-color: #514b27;
  --corrected-bg-color: #efcd6c;
  --focus-color: #31494a;
  --focus-bg-color: #8fc8d9;

  --test-red: #fe9c9b;
  --test-orange: #fed79c;
  --test-green: #61d4bc;

  --test-light-red: #efafaf;
  --test-light-orange: #f9e2c2;
  --test-light-green: #90dfcc;

  --key-bg-color: #e7eef4;
  --key-color: #c4cacf;
  --key-color-alt: #ffffff;

  --key-metric-bg-color: #ffffff;
  --key-metric-color: #d9d9d9;
  --key-metric-color-alt: #ffffff;

  --key-correct-bg-color: #b5dd9d;
  --key-correct-color: #9abc85;
  --key-correct-color-alt: #d0feb5;

  --key-incorrect-bg-color: #e47e70;
  --key-incorrect-color: #c26b5f;
  --key-incorrect-color-alt: #ff9181;

  --key-corrected-bg-color: #efcd6c;
  --key-corrected-color: #cbae5c;
  --key-corrected-color-alt: #ffec7c;

  --key-focus-bg-color: #8fc8d9;
  --key-focus-color: #82a4cd;
  --key-focus-color-alt: #a4e6fa;

  --icon-filter: grayscale(60%);
}
html[data-theme="dark"] {
  --logo-color: rgb(246, 245, 250, 0.9);
  --color-primary-100: #e7af5c;
  --color-primary-200: #ebb86e;
  --color-primary-300: #efc080;
  --color-primary-400: #f2c992;
  --color-primary-500: #f6d2a4;
  --color-primary-600: #f8dbb6;

  --color-surface-100: #181927;
  --color-surface-200: #2d2e3b;
  --color-surface-300: #444451;
  --color-surface-400: #5c5c68;
  --color-surface-500: #75757f;
  --color-surface-600: #8f8f97;

  --icon-filter: sepia(100%) grayscale(20%);
  --color-surface-alt: #1f2233;
  /* Je pense celui la */
  --color-surface-alt: #3e372d;
  --color-surface-alt: #654f3e;
  /* --color-surface-alt: #524a3d; */

  /* --color-surface-alt: #34261b; */
  /* --color-surface-alt:#33251a; */
  /* --color-surface-alt: rgba(248, 219, 182, 0.1); */

  --background-radiogroup-compact: #2d2e3b;
  --background-radiogroup: #756151;
  --border-color: #1f2233;

  --color-background-metric-preview: #756151;
  --color-surface-mixed-100: #654f3e;
  --color-surface-mixed-200: #756151;
  --color-surface-mixed-300: #867365;
  --color-surface-mixed-400: #978679;
  --color-surface-mixed-500: #a7998e;
  --color-surface-mixed-600: #2d2e3b;
  --color-surface-600: #2d2e3b;
  --stat-background-color: #1f2233;

  --progress-bar-background: #978679;
  --background-textarea: #2d2e3b;
  --background-color: #1f2233;
  --text-secondary-color: #f8dbb6;
  --text-color: #f6f5f7;
  --text-color-reverse: rgb(0, 31, 63);

  --ui-primary-color: #f8dbb6;
  --ui-secondary-color: grey;

  --correct-color: #61f4b2;
  --correct-bg-color: #124f48;
  --incorrect-color: #c0442b;
  --incorrect-bg-color: #571817;

  --corrected-color: #c99406;
  --corrected-bg-color: #494c3c;
  --focus-color: #50a6fc;
  --focus-bg-color: #043449;

  --key-bg-color: linear-gradient(145deg, #27293e, #202234);
  --key-color: #1f2233;
  --key-color-alt: #292e45;

  --key-metric-bg-color: linear-gradient(145deg, #212437, #1c1f2e);
  --key-metric-color: #1a1d2b;
  --key-metric-color-alt: #24273b;

  --key-correct-bg-color: linear-gradient(145deg, #107b65, #0e6855);
  --key-correct-color: #0d6250;
  --key-correct-color-alt: #11846c;

  --key-incorrect-bg-color: linear-gradient(145deg, #a83f3f, #8d3535);
  --key-incorrect-color: #853232;
  --key-incorrect-color-alt: #b54444;

  --key-corrected-bg-color: linear-gradient(145deg, #b16f4c, #955e40);
  --key-corrected-color: #8c583c;
  --key-corrected-color-alt: #be7852;

  --key-focus-bg-color: linear-gradient(145deg, #2b5e7a, #244f67);
  --key-focus-color: #224b61;
  --key-focus-color-alt: #2e6583;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--color-surface-100);
}

main > * {
  grid-column: 2;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

a {
  cursor: pointer;
}

button.reset {
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
label,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Cool clicky button, more simple */
/* https://uiverse.io/gharsh11032000/neat-bullfrog-61 */
button,
a.primary {
  color: var(--text-color);
  text-decoration: none;
  border: 0;
  background: none;
  border-radius: 12px;
  font-size: 16px;
  padding: 0 32px;
  text-transform: capitalize;
}

button.primary,
a.primary {
  height: 48px;
  background-color: var(--text-secondary-color);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--background-color);
}
/* https://uiverse.io/cssbuttons-io/friendly-dragon-76 */
/* https://uiverse.io/cssbuttons-io/evil-monkey-41 */
/* https://codepen.io/havardob/pen/qBvYdXL */
button.primary:hover,
a.primary:hover,
button.secondary:hover {
  transform: translateY(-2px);
}

a.primary {
  display: flex;
  align-items: center;
  user-select: none;
}

a.primary.locked,
button.primary:disabled {
  pointer-events: none;
  cursor: default;
  filter: grayscale(80%);
}

button.primary:active,
a.primary:active,
button.secondary:active {
  transform: translateY(5px);
  transition: 200ms;
}

button.secondary {
  cursor: pointer;
  color: var(--text-secondary-color);
  border: 1px solid;
  border-color: var(--text-secondary-color);

  transition: all 0.3s ease;
}

button.secondary:hover {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  a.primary,
  button.primary,
  button.secondary {
    height: 36px;
    padding: 0 24px;
  }
}

input {
  font-family: Larsseit, system-ui, sans-serif;
  border: 1px solid var(--background-color);
  border-radius: 10px;

  font-size: 16px;
  transition: all 0.06s ease;
  /*background-color: var(--color-surface-mixed-200);*/
  background-color: var(--background-color);
}

input:focus {
  outline: none;
  background-color: var(--color-surface-mixed-500);
  border-color: var(--color-surface-alt);
}

textarea {
  font-family: Larsseit, system-ui, sans-serif;
  width: calc(100% - 40px);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--background-color);
  background-color: var(--background-radiogroup);
  font-size: 16px;
  transition: all 0.06s ease;
  /*background-color: var(--color-surface-200);*/
  color: var(--text-color);
}

textarea:focus {
  outline: none !important;
  background-color: var(--color-surface-mixed-500);
  border-color: var(--color-surface-alt);
}
fieldset {
  display: content;
  border: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 860px) {
  button {
    -webkit-user-select: none;
    user-select: none;
  }
}

h1,
h2,
h3,
a,
p,
span {
  color: var(--text-color);
}

.index-wrapper {
  height: 100%;
}

 #app {
  display: grid;
  margin: 0;
  min-height: 100%;
  background-color: var(--color-surface-100);
}

@media screen and (max-width: 860px) {
#app {
    min-height: unset;
    height: 100%;
  }
}

@keyframes stretch-animate {
  0% {
    transform: scale(1, 1);
  }

  28% {
    transform: scale(1.15, 0.85);
  }

  50% {
    transform: scale(0.9, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink-slow {
  0% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
